/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav li
{
  margin-left: 15px;
  display: inline;
} */

.btn-success
{
  margin-left: 2px;
}

#text-a
{
  background-color: #ededf0;
}

.sel
{
  background-color: #ededf0;
}

.navvy
{
  display: flex;
  justify-content: space-between;
}

.btn-1
{
  background-color: #99dd7f;
  color: #ededed;
  border: none;
  transition: background-color 200ms linear;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.btn-1:hover
{
  background-color: #99dd7fcc;
  color: #ededed;
  border: none;
}

.btn-2
{
  background-color: #ff907f;
  color: #ededed;
  border: none;
  transition: background-color 200ms linear;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.btn-2:hover
{
  background-color: #ff827fcc;
  color: #ededed;
  border: none;
}


.btn-3
{
  background-color: #77a2af;
  color: #ededed;
  border: none;
  transition: background-color 200ms linear;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.btn-3:hover
{
  background-color: #77a2afcc;
  color: #ededed;
  border: none;
}


.btn-4
{
  background-color: #dacf40;
  color: #ededed;
  border: none;
  transition: background-color 200ms linear;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.btn-4:hover
{
  background-color: #dacf40cc;
  color: #ededed;
  border: none;
}